.background {
  background-color: var(--blue);
  height: 30rem;
  z-index: -999;
  box-shadow: var(--background-shadow);
}

.container {
  text-align: center;
  z-index: 100;
  position: relative;
  margin-top: -25rem;
}
