.container {
  border-radius: 1.5rem;
  background-color: var(--white);
  padding: 2.5rem;
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
}

.title-image-section {
  text-align: center;
  padding-bottom: 4rem;
}
