.container {
  padding: 2rem;
  padding-bottom: 3rem;
  background-color: rgb(255, 249, 220);
  box-shadow: -10px 0px 40px rgb(216, 216, 216);
}

.container h3 {
  text-align: center;
  padding-bottom: 2rem;
}
