.background {
  background-color: var(--blue);
  height: 25rem;
  z-index: -999;
  margin-top: -30rem;
}

.container {
  background-color: var(--blue);
  box-shadow: var(--background-shadow);
}

.container h3 {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 0;
  font-size: 4.2rem;
  font-weight: 550;
}
