.container {
  text-align: center;
  background-color: rgb(255, 249, 220);
  box-shadow: -10px 0px 40px rgb(216, 216, 216);
}

.container h3 {
  padding-bottom: 1.5rem;
}

.container p {
  padding-bottom: 2rem;
}
