.container {
  text-align: center;
  /* background-color: rgb(255, 249, 220); */
  background-color: #0169a5b2;
  color: white;
}

.container h3 {
  padding-bottom: 1.5rem;
}

.container p {
  padding-bottom: 2rem;
}

.icon {
  animation: grow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  position: relative;
}

@keyframes grow {
  0% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}
