html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  /* this causes you to put pixels easily in rem - 24px = 2.4rem */
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  align-items: center;
}

.container,
.section {
  padding: 4rem 2rem;
}

@media (min-width: 750px) {
  .section {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}
